* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.header-text--main {
  color: white;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3rem;
  text-transform: uppercase;
  animation: moveInLeft 1s; }

.header-text--sub {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1.6rem;
  text-transform: uppercase;
  animation: moveInRight 1s;
  display: block;
  margin-bottom: 3.5rem; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.4rem;
  font-weight: 500; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    /* transform: rotate(0deg)         */
    transform: translateX(-100px); }
  80% {
    transform: translateX(20px); }
  100% {
    opacity: 1;
    /* transform: rotate(90deg); */ } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.u-text-center {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-legend {
  margin-bottom: 10rem !important; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }

.btn-white {
  background-color: white;
  color: #777; }
  .btn-white:hover {
    background-color: #fff;
    color: #777;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

.btn-green {
  background-color: #55c57a;
  color: white; }
  .btn-green:hover {
    background-color: #55c57a;
    color: white;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s ease-in; }

.btn-white::before {
  content: "";
  background-color: white; }

.btn-green::before {
  content: "";
  background-color: #55c57a; }

.btn:hover::before {
  transform: scaleX(1.9) scaleY(1.7);
  opacity: 0; }

.btn, .btn:link, .btn:visited {
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 10rem;
  transition: all 0.4 ease-in;
  position: relative;
  animation: moveUp 1s 1s backwards;
  font-size: 1.6rem; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #7ed56f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  transition: all .2s;
  padding: 0px .3rem; }

.btn-text:hover {
  background-color: #7ed56f;
  color: #fff;
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

.btn-text:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0px 1.5rem 4rem rgba(0, 0, 0, 0.25);
    position: absolute;
    outline-offset: 1rem;
    transition: all .2s; }
    .composition__photo:hover {
      outline: 1rem solid #7ed56f;
      z-index: 1;
      transform: scale(1.1) translateY(0.5px);
      box-shadow: 0px 1.5rem 4rem rgba(0, 0, 0, 0.5); }
    .composition__photo--p1 {
      top: 0;
      left: 0; }
    .composition__photo--p2 {
      top: 8rem;
      left: 37%; }
    .composition__photo--p3 {
      top: 14rem;
      left: 10%; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0px 0.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: all .2s; }
  .feature-box__icon {
    font-size: 6rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-2rem) scale(1.1); }

.card {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 50rem;
  backface-visibility: hidden;
  backface-visibility: inherit; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .card__slide {
    height: 50rem;
    transition: all .8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.3); }
    .card__slide-price {
      font-size: 6rem;
      text-align: center;
      color: white;
      margin-bottom: 9rem; }
    .card__slide-normal {
      text-align: center;
      font-size: 1rem;
      margin: 40% 0 5% 0;
      color: white; }
    .card__slide--front {
      backface-visibility: hidden; }
    .card__slide--back {
      backface-visibility: hidden;
      transform: rotateY(180deg); }
      .card__slide--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__slide--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__slide--back-3 {
        background-image: linear-gradient(to right bottom, #e0aaff, #5a189a); }
  .card:hover .card__slide--front {
    transform: rotateY(180deg); }
  .card:hover .card__slide--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 21rem;
    -ms-background-blend-mode: screen;
    background-blend-mode: screen; }
    .card__picture-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture-3 {
      background-image: linear-gradient(to right bottom, #e0aaff, #5a189a), url(../img/nat-7.jpg);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .card__heading {
    text-align: right;
    font-size: 2.5rem;
    color: white;
    text-transform: uppercase;
    width: 75%;
    position: absolute;
    top: 11rem;
    right: 2rem; }
    .card__heading-span {
      -webkit-box-decoration-break: clone;
      -ms-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 1rem 1.5rem; }
    .card__heading-1 {
      background-image: linear-gradient(to bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-2 {
      background-image: linear-gradient(to bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-3 {
      background-image: linear-gradient(to bottom, rgba(224, 170, 255, 0.85), rgba(90, 24, 154, 0.85)); }
  .card__details .main-list-cont {
    list-style: none;
    width: 80%;
    margin: 20px auto; }
    .card__details .main-list-cont .list {
      font-size: 1.5rem;
      text-align: center;
      border-bottom: 1px solid #777;
      padding: 1rem 0; }
      .card__details .main-list-cont .list:last-child {
        border-bottom: none; }

.story {
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
  padding: 4rem 10rem;
  width: 75%;
  margin: 0 auto;
  border-radius: 3px;
  background-color: white;
  transform: skewX(-12deg); }
  .story:not(:last-child) {
    margin-bottom: 7rem; }
  .story:last-child {
    margin-bottom: 2rem; }
  .story:hover .story__shape-name {
    transform: translateY(0);
    opacity: 1; }
  .story:hover .story__shape-img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(75%); }
  .story__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    clip-path: circle(50% at 50% 50%);
    transform: skewX(12deg) translateX(-2rem);
    shape-outside: circle(50% at 50% 50%);
    position: relative; }
    .story__shape-name {
      position: absolute;
      top: 4.5rem;
      left: 4.1rem;
      font-size: 1.6rem;
      text-transform: uppercase;
      width: 50%;
      color: white;
      transform: translateY(100px);
      opacity: 0;
      transition: all .8s;
      text-align: center; }
    .story__shape-img {
      height: 100%;
      transform: translateX(-4rem) scale(1.4);
      z-index: -1;
      transition: all .8s; }
  .story__text {
    transform: skewX(12deg); }
  .story__btn {
    text-transform: uppercase; }

.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .15; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: fill; }

.form__label {
  font-size: 1.5rem;
  display: block;
  margin-left: 1.5rem;
  margin-top: .7rem;
  font-weight: 600;
  transition: all .2s; }

.form__group:not(:last-child) {
  margin-bottom: 1.5rem; }

.form__input {
  color: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 80%;
  display: block;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1); }
  .form__input:focus {
    border-bottom: 3px solid #7ed56f;
    outline: none; }
    .form__input:focus:valid {
      border-bottom: 3px solid #7ed56f; }
    .form__input:focus:invalid {
      border-bottom: 3px solid orangered; }
  .form__input::-webkit-input-placeholder {
    color: #999; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1rem); }

.form__radio-group {
  display: inline-block;
  position: relative; }

.form__radio-input {
  display: none; }
  .form__radio-input:checked ~ .form__radio-label > .form__radio-btn::after {
    opacity: 1; }

.form__radio-btn {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border: 6px solid #55c57a;
  border-radius: 50%;
  position: relative;
  transform: translateY(0.7rem);
  margin-right: .7rem; }
  .form__radio-btn::after {
    display: inline-block;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background-color: #55c57a;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0; }

.form__radio-label {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: .7rem; }

.form__submit {
  width: 100%; }

.section-about {
  background-color: #f7f7f7;
  padding: 10rem 0; }

.heading-secondary {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.5rem;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .3s; }
  .heading-secondary:hover {
    transform: skewX(14deg) skewY(2deg) scale(1.2);
    text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
    letter-spacing: normal; }

.section-tours {
  position: relative; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 5rem 0; }

.section-stories {
  position: relative;
  padding: 5rem 15rem; }

.section-booking {
  height: 100vh;
  padding: 10rem 15rem;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  .section-booking .booking {
    padding: 6rem 8rem;
    height: 50rem;
    background-image: linear-gradient(115deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.89) 50%, rgba(0, 0, 0, 0) 50%), url(../img/nat-10.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.2); }
    .section-booking .booking .form {
      width: 50%; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.6), rgba(40, 180, 133, 0.6)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    width: 7rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 80px; }
  .row [class^="col-"] {
    float: left; }
  .row [class$="of-1"] {
    width: calc((100% - 2rem) / 2); }
    .row [class$="of-1"]:not(:last-child) {
      margin-right: 2rem; }
  .row [class$="of-2"] {
    width: calc((100% - 2*8rem) / 3); }
    .row [class$="of-2"]:not(:last-child) {
      margin-right: 8rem; }
  .row [class$="of-3"]:not(:last-child) {
    margin-right: 2rem; }
  .row .col-1-of-3 {
    width: calc((100% - 2*2rem) / 3); }
  .row .col-2-of-3 {
    width: calc(((200% - 4*2rem) / 3) + 2rem); }
  .row [class$="of-4"] {
    width: calc((100% - 3*6rem) / 4); }
    .row [class$="of-4"]:not(:last-child) {
      margin-right: 6rem; }
  .row [class$="of-5"] {
    width: calc((100% - 3*2rem) / 4); }
    .row [class$="of-5"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-3-of-5 {
    width: calc(((100% - 3*2rem)/2) + 2rem); }
  .row [class$="of-6"] {
    width: calc((100% - 3*2rem) / 4); }
    .row [class$="of-6"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-2-of-6 {
    width: calc(((300% - 9*2rem)/4) + 2*2rem); }
  .row::after {
    content: "";
    display: table;
    clear: both; }

.row .col-1-of-1 {
  margin-left: -2rem;
  margin-right: 60px !important; }

.row .col-2-of-1 {
  width: 40% !important; }

.footer {
  background-color: #2d2d2d;
  padding: 10rem 0;
  font-size: 1.4rem; }
  .footer__group {
    display: inline;
    list-style: none; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 4rem; }
  .footer__logo {
    width: 15rem; }
  .footer__navigation {
    border-top: 1px solid #999;
    padding-top: 1.5rem;
    padding-left: 3rem; }
  .footer__copyright {
    color: #999;
    border-top: 1px solid #999;
    padding-top: 1.5rem;
    padding-left: .8rem; }
  .footer__link:link, .footer__link:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: #999;
    display: inline-block;
    padding: 4px; }
  .footer__link:hover, .footer__link:active {
    color: #7ed56f;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
    transform: rotate(7deg) scale(1.2); }
  .footer__list {
    display: inline-block; }
    .footer__list:not(:last-child) {
      margin-right: 1.5rem; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20rem 25rem;
  height: 100vh;
  width: 100%;
  z-index: 3000;
  visibility: hidden;
  opacity: 0;
  transition: all .4s; }
  .popup:target {
    visibility: visible;
    opacity: 1; }
  .popup:target .popup__content {
    transform: scale(1) translate(-50%, -50%); }
  .popup__heading:hover {
    transform: skewX(14deg) skewY(2deg) scale(1.05); }
  .popup__content {
    width: 75%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    display: table;
    transform: translate(-50%, -50%) scale(0.2);
    transition: all .4s .1s; }
  .popup__right {
    width: 66.66666%;
    display: table-cell;
    vertical-align: middle;
    padding: 1rem 3rem;
    overflow: hidden; }
  .popup__left {
    width: 33.333333%;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden; }
  .popup__text {
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid rgba(153, 153, 153, 0.2);
    hyphens: auto; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__close, .popup__close:link, .popup__close:visited {
    font-size: 3rem;
    line-height: 1rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    text-decoration: none; }
    .popup__close:hover, .popup__close:link:hover, .popup__close:visited:hover {
      color: #7ed56f; }

.navigation__checkbox {
  display: none; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(60); }
  .navigation__checkbox:checked ~ .navigation__nav {
    display: block;
    animation: fadein .5s ease;
    animation-fill-mode: forwards; }
  .navigation__checkbox:checked + .navigation__btn .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .navigation__checkbox:checked + .navigation__btn .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__btn .navigation__icon {
    width: 0%; }

.navigation__nav {
  height: 100vh;
  width: 100%;
  z-index: 1500;
  position: fixed;
  display: none;
  opacity: 0;
  transition: all 9s; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#7ed56f, #28b485);
  position: fixed;
  top: 4.5rem;
  right: 6.5rem;
  z-index: 1000;
  transition: all .4s; }

.navigation__btn {
  cursor: pointer;
  position: fixed;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 4rem;
  right: 6rem;
  z-index: 2000;
  background-color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transition: all .8s; }
  .navigation__btn:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__btn:hover .navigation__icon::before {
    top: -1rem; }

.navigation__link:link, .navigation__link:visited {
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 3rem;
  display: inline-block;
  background-size: 230%;
  transition: all 0.4s;
  background-image: linear-gradient(120deg, rgba(255, 166, 0, 0) 0%, rgba(255, 166, 0, 0) 50%, white 51%); }

.navigation__link:hover, .navigation__link:active {
  color: #7ed56f;
  background-position: 100%; }

.navigation__items {
  margin: 2rem;
  text-align: center; }

.navigation__list {
  list-style: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }

.navigation__icon {
  position: relative;
  margin-top: 3.3rem;
  margin-left: 1.7rem; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    width: 3.5rem;
    height: 2px;
    background-color: #999;
    display: inline-block;
    transition: all .2s; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0; }
  .navigation__icon::after {
    top: .8rem; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon {
    transition: none; }
