
@keyframes moveInLeft {
    0% {
      opacity: 0;
      /* transform: rotate(0deg)         */
      transform: translateX(-100px);
    }
  
    80% {
      transform: translateX(20px);
    }
  
    100% {
      opacity: 1;
      /* transform: rotate(90deg); */
    }
  }
  @keyframes moveUp {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
  
    80% {
      transform: translateX(-20px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }