@mixin btn-hover($backc , $col){
    &:hover{
    background-color: $backc;
    color: $col;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
}


@mixin btn-active {
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
      }
    
}

@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}



@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


@mixin  respond ($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width:37.5em) {
            @content
    };
   }
    @if $breakpoint == tab-port {
        @media (max-width:56.25em) {
            @content
        };
    }
    @if $breakpoint == tab-land {
        @media (max-width:75em) {
            @content
        };
    }
    @if $breakpoint == big-desk {
        @media (max-width:112.5em) {
            @content
        };
    }
    
}