// colours
$color-primary-light: #7ed56f;
$color-primary-medium: #55c57a;
$color-primary-dark: #28b485;

$color-grey-light : #f7f7f7;
$color-secondary-light: #ffb900;
$color-secondary-dark : #ff7730;

$color-tertiary-light : #bbdefb;
$color-tertiary-dark :#5643fa;

$color-4-light : #e0aaff;
$color-4-dark :#5a189a;


$color-grey : #999;
$color-grey-2 : #eee;
$color-grey-3 : #f7f7f7;
$color-grey-4 : #2d2d2d;

// grids
$grid-width : 114rem;
$gutter-vertical : 80px;
$gutter-horizontal : 2rem;
$gutter-horizontal-f : 6rem;
$gutter-horizontal-c : 8rem;



$default-fontsize : 1.6rem;