@import "base/base";
@import "base/typography";
@import "base/animations";
@import "base/utillities";

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/varibales";

@import "components/button";

@import "pages/home";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //this defines what 1rem is root font size
  font-size: 62.5%;
}



body {
  box-sizing: border-box;
}

