.story{
    box-shadow:0 4rem 6rem rgba($color: #000000, $alpha: .1);
    padding: 4rem 10rem;
    width: 75%;
    margin: 0 auto;
    border-radius: 3px;
    background-color: white;
    // border: 2px solid red;
    transform: skewX(-12deg);

    @include respond(phone){
        transform: skewX(0deg) ;
        width: 100%;
        padding: 4rem 4rem;
    }
   
    &:not(:last-child){
    margin-bottom: 7rem;
    }

    &:last-child{
        margin-bottom: 2rem;
    }
    &:hover &__shape-name{
        transform: translateY(0);
        opacity: 1;
    }
    &:hover &__shape-img{
       transform: translateX(-4rem)  scale(1);
       filter: blur(3px) brightness(75%);
    }

    &__shape{
        height: 15rem;
        width: 15rem;
        float: left;
        clip-path: circle(50% at 50% 50%);
        transform:     skewX(12deg) translateX(-2rem);
        shape-outside: circle(50% at 50% 50%);
        // margin-top: -5.1rem;
        position: relative;

        @include respond(phone){
           transform: skewX(0deg) translateX(-2rem);

        }



        &-name{
            position: absolute;
            top: 4.5rem;
            left: 4.1rem;
            font-size: 1.6rem;
            text-transform: uppercase;
            width: 50%;
            color: white;
            transform: translateY(100px);
            opacity: 0;
            transition: all .8s;
            text-align: center;
        }
        &-img{
            height: 100%;
            transform: translateX(-4rem) scale(1.4);
            z-index: -1;
            transition: all .8s;

            
        }


    }

    &__text{
        transform: skewX(12deg);
        @include respond(phone){
            transform: skewX(0deg);
        }

    }


    &__btn{
        text-transform: uppercase;
    }
}