.section-about{
    background-color: $color-grey-light;
    padding: 10rem 0;
}

.heading-secondary{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.5rem;
    background-image: linear-gradient(to right bottom,$color-primary-light , $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .3s;

    &:hover{
        transform: skewX(14deg) skewY(2deg) scale(1.2);
        text-shadow: 1rem 1rem 2rem rgba($color: #000000, $alpha: .2);
        letter-spacing: normal;
    }
}
