.section-about{
    background-color: $color-grey-light;
    padding: 10rem 0;
}

.heading-secondary{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.5rem;
    background-image: linear-gradient(to right bottom,$color-primary-light , $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .3s;

    &:hover{
        transform: skewX(14deg) skewY(2deg) scale(1.2);
        text-shadow: 1rem 1rem 2rem rgba($color: #000000, $alpha: .2);
        letter-spacing: normal;
    }
}

.section-tours{
    position: relative;
}


.section-features{
    padding: 20rem 0;
    
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../img/nat-4.jpg);
      background-size: cover; 
      transform: skewY(-7deg);
      &>*{
          transform: skewY(7deg);
      }
}


.section-tours{
    background-color: $color-grey-light;
    padding: 5rem 0;
}
