.row{

   
    .col-1-of-1{
        margin-left: -2rem;
        margin-right: 60px ;

        @include respond(tab-port){
            margin: 0 auto;
            width: 90% !important;
        }
        @include respond(tab-port){
            margin: 0 auto;
            width: 90% !important;
           height: auto;
        }
       
    }
    .col-2-of-1{
        width: 40% !important;

        @include respond(tab-port){
            width: 90%  !important;
        }
        
    }
}

.footer{
    background-color: $color-grey-4;
    padding: 10rem 0;
    font-size: 1.4rem;

    @include respond(phone){
        padding: 4rem 0;
    }

    &__group{
        display: inline;
        list-style: none;


        @include respond(phone){
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

    }

    &__logo-box{
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;

        @include respond(phone){
            margin-bottom: 2rem;
        }

    }

    &__logo{
        width: 15rem;

    }

    &__navigation{
        border-top: 1px solid $color-grey;
        padding-top: 1.5rem;
        padding-left: 3rem;

        @include respond(tab-port){
            display: flex;
            justify-content: space-evenly;
        }

      
        
    }

    &__copyright{
        color: $color-grey;
        border-top: 1px solid $color-grey;
        padding-top: 1.5rem;
        padding-left: .8rem;
        text-align: center;
        
       


    }

    &__link{

        &:link,&:visited{
            text-transform: uppercase;
            text-decoration: none;
            color: $color-grey;
            display: inline-block;
            padding: 4px;
         

        }

        &:hover,&:active {
            color:$color-primary-light;
            box-shadow: 0 .5rem .5rem rgba($color: #000000, $alpha: .5);
            transform: rotate(7deg) scale(1.2);
        }

    }

    &__list{
        display: inline-block;

        &:not(:last-child){
            margin-right: 1.5rem;
        }

        @include respond(phone){
            margin-right: 0;
        }

        


    }
}
